<h1>Thông tin người dùng mã số: <%= info.id %></h1>
<hr>

<div class="row">
  <div class="col-12 text-center">
    <i class="fas fa-user-circle fa-10x info-icon"></i>
  </div>
</div>
<div class="row">
  <div class="col-4"></div>
  <div class="col-2">
    <div class="row">
      <b>Họ tên:</b>
    </div>
    <div class="row">
      <b>Tên tài khoản:</b>
    </div>
    <div class="row">
      <b>Email:</b>
    </div>
    <div class="row">
      <b>Số note đã tạo:</b>
    </div>
    <div class="row">
      <b>Trạng thái:</b>
    </div>
  </div>
  <div class="col-2">
    <div class="row">
      <%= info.full_name %>
    </div>
    <div class="row">
      <%= info.username %>
    </div>
    <div class="row">
      <%= info.email %>
    </div>
    <div class="row">
      <%= info.count_note %>
    </div>
    <div class="row">
      <% if (info.isbanned == false) { %>
      Chưa khóa
      <% } else { %>
      Đã khóa
      <% } %>
    </div>
  </div>
  <div class="col-4"></div>
</div>

<div class="row info-btn">
  <div class="col-3"></div>
  <div class="col-3 text-center">
    <% if (info.isbanned == false) { %>
      <a href="/unban-user/<%= info.id %>" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">Mở khóa</a>
    <% } else { %>
      <a href="/unban-user/<%= info.id %>" class="btn btn-primary btn-lg" role="button">Mở khóa</a>
    <% } %>
  </div>
  <div class="col-3 text-center">
    <% if (info.isbanned == false) { %>
      <a href="/ban-user/<%= info.id %>" class="btn btn-danger btn-lg" role="button">Khóa</a>
    <% } else { %>
      <a href="/ban-user/<%= info.id %>" class="btn btn-danger btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">Khóa</a>
    <% } %>
  </div>
  <div class="col-3"></div>
</div>

<div class="row">
  <div class="col-4"><% include ./messages %></div>
</div>