<h1>Quản lý Người dùng</h1>

<hr>

<table id="table" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Mã số</th>
      <th scope="col">Họ tên</th>
      <th scope="col">Tên tài khoản</th>
      <th scope="col">Email</th>
      <th scope="col">Số note đã tạo</th>
      <th scope="col">Trạng thái</th>
    </tr>
  </thead>
  <tbody>
    <% for (var i = 0; i < users.length; i++) { %>
    <tr class='clickable-row' data-href='/info-user/<%= users[i].id %>'>
      <td><%= users[i].id %></td>
      <td><%= users[i].full_name %></td>
      <td><%= users[i].username %></td>
      <td><%= users[i].email %></td>
      <td><%= users[i].count_note %></td>
      <td><% if (users[i].isbanned == false) { %>Chưa khóa<% } else { %>Đã khóa<% } %></td>
    </tr>
    <% } %>
  </tbody>
</table>