<!-- total -->
<div class="total">
  <h2>Tổng số người dùng:</h2>
  <h1><%= stats[stats.length-1].sum %></h1>
</div>

<div>
  <form action="">
    Số lượt đăng ký mới theo:
    <select class="custom-select time-select">
      <option value="day" selected>Ngày</option>
      <option value="month">Tháng</option>
      <option value="year">Năm</option>
    </select>
    <button type="submit" class="btn btn-primary">Lọc</button>
  </form>
</div>

<!-- chart -->
<canvas id="chart"></canvas>

<input type="text" id="labels"
  value="<% for (var i = 0; i < stats.length; i++) {%><%= stats[i].created_at %>,<% } %>"
  hidden>
<input type="text" id="data"
  value="<% for (var i = 0; i < stats.length; i++) {%><%= stats[i].count_user %>,<% } %>"
  hidden>

<hr>

<!-- table -->
<p>Bảng số liệu:</p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Thời gian</th>
      <th scope="col">Số lượt đăng ký mới</th>
      <th scope="col">Tổng số người dùng</th>
    </tr>
  </thead>
  <tbody>
    <% for (var i = 0; i < stats.length; i++) {%>
    <tr>
      <td><%= stats[i].created_at %></td>
      <td><%= stats[i].count_user %></td>
      <td><%= stats[i].sum %></td>
    </tr>
    <% } %>
  </tbody>
</table>

<!-- My script for chart -->
<script src="javascripts/chart.js"></script>