<!-- total -->
<div class="total">
  <h2>Tổng số note:</h2>
  <h1><%= stats[stats.length-1].sum %></h1>
</div>

<div>
  <form action="/stats-note" method="POST">
    Số note mới theo:
    <select class="custom-select time-select" id="by" name="by">
      <option value="day" <% if (by == 'day') { %>selected<% } %>>Ngày</option>
      <option value="month" <% if (by == 'month') { %>selected<% } %>>Tháng</option>
      <option value="year" <% if (by == 'year') { %>selected<% } %>>Năm</option>
    </select>
    <button type="submit" class="btn btn-primary">Lọc</button>
  </form>
</div>

<!-- chart -->
<canvas id="chart"></canvas>

<input type="text" id="labels" value="<% for (var i = 0; i < stats.length; i++) {%><%= stats[i].time %>,<% } %>"
  hidden>
<input type="text" id="data" value="<% for (var i = 0; i < stats.length; i++) {%><%= stats[i].count_note %>,<% } %>"
  hidden>

<hr>

<!-- table -->
<p>Bảng số liệu:</p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Thời gian</th>
      <th scope="col">Số note mới</th>
      <th scope="col">Tổng số note</th>
    </tr>
  </thead>
  <tbody>
    <% for (var i = 0; i < stats.length; i++) {%>
    <tr>
      <td><%= stats[i].time %></td>
      <td><%= stats[i].count_note %></td>
      <td><%= stats[i].sum %></td>
    </tr>
    <% } %>
  </tbody>
</table>

<!-- My script for chart -->
<script src="javascripts/chart.js"></script>